@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 0;
  min-height: 100vh;
  color: #333;
  font-family:
    var(--font-pretendard),
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

em {
  font-style: normal;
}

input {
  outline: none;
}

/* 랜딩페이지 그라데이션 텍스트 */
@layer utilities {
  .gradient-main-text {
    background: linear-gradient(91.26deg, #6d6afe 17.28%, #ff9f9f 74.98%);
    background-clip: text;
    color: transparent;
  }

  .gradient-sub-text1 {
    background: linear-gradient(96.57deg, #fe8a8a 1.73%, #a4ceff 33.89%);
    background-clip: text;
    color: transparent;
  }
  .gradient-sub-text2 {
    background: linear-gradient(277.01deg, #6fbaff 59.22%, #ffd88b 93.66%);

    background-clip: text;
    color: transparent;
  }
  .gradient-sub-text3 {
    background: linear-gradient(99.5deg, #6d7ccd 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    color: transparent;
  }
  .gradient-sub-text4 {
    background: linear-gradient(271.36deg, #fe578f -9.84%, #68e8f9 107.18%);
    background-clip: text;
    color: transparent;
  }

  .text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
