@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 0;
  min-height: 100vh;
  color: #fff;
  font-family:
    var(--font-pretendard),
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

em {
  font-style: normal;
}

input {
  outline: none;
}

/* 랜딩페이지 그라데이션 텍스트 */
@layer utilities {
  .gradient-main-background {
    background: linear-gradient(320deg, #877cb1 0, #100725 60%);
  }

  .gradient-main-text {
    background: linear-gradient(91.26deg, #6d6afe 17.28%, #ff9f9f 74.98%);
    background-clip: text;
    color: transparent;
  }

  .gradient-sub-text1 {
    background: linear-gradient(96.57deg, #fe8a8a 1.73%, #a4ceff 33.89%);
    background-clip: text;
    color: transparent;
  }
  .gradient-sub-text2 {
    background: linear-gradient(277.01deg, #6fbaff 59.22%, #ffd88b 93.66%);

    background-clip: text;
    color: transparent;
  }
  .gradient-sub-text3 {
    background: linear-gradient(99.5deg, #6d7ccd 19.76%, rgba(82, 136, 133, 0.22) 52.69%);
    background-clip: text;
    color: transparent;
  }
  .gradient-sub-text4 {
    background: linear-gradient(271.36deg, #fe578f -9.84%, #68e8f9 107.18%);
    background-clip: text;
    color: transparent;
  }

  .text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .text-overflow2 {
    height: 46px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

/* 별 효과 */
@layer utilities {
  @keyframes animate-twinkle {
    0% {
      opacity: 0.3;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1.2);
    }
  }

  .twinkle {
    @apply opacity-30;
    animation: animate-twinkle infinite alternate ease-in-out;
  }
}

/* 별똥별 효과 */
@layer utilities {
  .star {
    position: relative;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 10px #c77eff;
    animation: animate-star 4s ease-in infinite;
    opacity: 0;
  }

  .star::after {
    position: absolute;
    content: "";
    top: calc(50% - 1px);
    left: -950%;
    width: 2000%; /* star의 크기에 따라서 꼬리의 길이도 다르게 해주고 싶어서 부모 요소의 길이에 비례하게 값 전달*/
    height: 2px;
    background: linear-gradient(to left, #fff0, #eee); /*서서히 흐려지는 꼬리*/
    transform: rotateZ(-45deg) translateX(50%);
  }

  .star:nth-child(2) {
    transform: translateX(300px);
    animation-delay: 5.1s;
  }

  .star:nth-child(3) {
    transform: translateX(450px);
    animation-delay: 1s;
  }

  @keyframes animate-star {
    0% {
      top: -10vh;
      transform: translateX(0px);
      opacity: 0.8;
    }
    100% {
      top: 110vh;
      transform: translateX(-120vh);
      opacity: 0.8;
    }
  }
}
